{% extends 'layouts/blank.html' %}

{% load staticfiles %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<table id="simple-table" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
{% block listing_fields %}
{% endblock %}
						</tr>
					</thead>
					<tbody>
{% for entry in listing %}
						<tr>
{% block listing_view %}
{% endblock %}
						</tr>
{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div><!-- /.row -->
{% endblock %}

{% block app_deps %}
<!-- page specific plugin scripts -->
<script src="{% static 'dist/js/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dist/js/dataTables/jquery.dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'dist/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
<script src="{% static 'dist/js/dataTables/extensions/ColVis/js/dataTables.colVis.min.js' %}"></script>

<!-- ace scripts -->
<script src="{% static 'dist/js/ace-elements.min.js' %}"></script>
<script src="{% static 'dist/js/ace.min.js' %}"></script>
{% endblock %}

{% block app_style %}
<script src="{% static 'dist/js/ace-extra.min.js' %}"></script>
{% endblock %}
