{% extends 'layouts/blank.html' %}

{% load staticfiles %}

{% block title %}{{ page_title }}{% endblock %}

{% block breadcrumbs %}
<li>
  <i class="ace-icon fa fa-home home-icon"></i>
  <a href="/">Home</a>
</li>
<li class="active">{{ page_title }}</li>
{% endblock %}

{% block page_header %}
{{ page_title }}
<small>
  <i class="ace-icon fa fa-angle-double-right"></i>
  {{ page_excerpt }}
</small>
{% endblock %}

{% block page_content %}
{{ page_content }}
{% endblock %}
