{% extends 'layouts/blank.html' %}

{% load staticfiles %}

{% block breadcrumbs %}
<li>
  <i class="ace-icon fa fa-home home-icon"></i>
  <a href="/">Home</a>
</li>
<li class="active">{{ page_title }}</li>
{% endblock %}

{% block page_header %}
{{ page_title }}
<small>
  <i class="ace-icon fa fa-angle-double-right"></i>
  {{ page_excerpt }}
</small>
{% endblock %}

{% block page_content %}
{{ page_content }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="timeline-container timeline-style2">
              <span class="timeline-label">
                <b>Branch : master</b>
              </span>
              <div class="timeline-items">
{% for entry in listing %}
{% block timeline_entry %}
                <div class="timeline-item clearfix">
                  <div class="timeline-info">
                    <span class="timeline-date">11:15 pm</span>

                    <i class="timeline-indicator btn btn-info no-hover"></i>
                  </div>

                  <div class="widget-box transparent">
                    <div class="widget-body">
                      <div class="widget-main no-padding">
                        <span class="bigger-110">
                          <a href="#" class="purple bolder">Susan</a>
                          reviewed a product
                        </span>
                        <br />
                        <i class="ace-icon fa fa-hand-o-right grey bigger-125"></i>
                        <a href="#">Click to read &hellip;</a>
                      </div>
                    </div>
                  </div>
                </div>
{% endblock %}
{% endfor %}
                <div class="timeline-item clearfix">
                  <div class="timeline-info">
                    <span class="timeline-date">11:15 pm</span>
                    <i class="timeline-indicator btn btn-info no-hover"></i>
                  </div>
                  <div class="widget-box transparent">
                    <div class="widget-body">
                      <div class="widget-main no-padding">
                        Going to
                        <span class="green bolder">veg cafe</span>
                        for lunch
                        <a href="#">
                          Click to see
                          <i class="ace-icon fa fa-search-plus blue bigger-110"></i>
                        </a>
                        <div class="space-2"></div>
                        <div class="action-buttons">
                          <a href="#">
                            <i class="ace-icon fa fa-heart red bigger-125"></i>
                          </a>

                          <a href="#">
                            <i class="ace-icon fa fa-facebook blue bigger-125"></i>
                          </a>

                          <a href="#">
                            <i class="ace-icon fa fa-reply light-green bigger-130"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- /.timeline-items -->
            </div><!-- /.timeline-container -->
          </div>
        </div>
    </div><!-- /.col -->
  </div><!-- /.row -->
{% endblock %}

{% block app_deps %}
{% endblock %}

{% block app_style %}
{% endblock %}

{% block app_js %}
<script type="text/javascript">
jQuery(function($) {
  $('[data-toggle="buttons"] .btn').on('click', function(e){
    var target = $(this).find('input[type=radio]');
    var which = parseInt(target.val());
    $('[id*="timeline-"]').addClass('hide');
    $('#timeline-'+which).removeClass('hide');
  });
});
</script>
{% endblock %}
