{% extends 'layouts/profile.html' %}

{% load staticfiles %}

{% block title %}Customer : {{ customer }}{% endblock %}

{% block breadcrumbs %}
<li>
  <i class="ace-icon fa fa-home home-icon"></i>
  <a href="/">Home</a>
</li>
<li>
  <a href="/crm/customer/">Customers</a>
</li>
<li class="active">{{ customer }}</li>
{% endblock %}

{% block page_header %}
{{ customer }}
<small>
  <i class="ace-icon fa fa-angle-double-right"></i>
  3 styles with inline editable feature
</small>
{% endblock %}

{% block profile_avatar %}
<img id="avatar" class="editable img-responsive" alt="Avatar of {{ personna.full_name }}" src="{% static personna.avatar_path %}" />
{% endblock %}

{% block profile_links %}
<a href="#" class="btn btn-link">
  <i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
  Add as a friend
</a>

<a href="#" class="btn btn-link">
  <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
  Send a message
</a>

<a href="#" class="btn btn-link">
  <i class="ace-icon fa fa-globe bigger-125 blue"></i>
  www.alexdoe.com
</a>
{% endblock %}

{% block profile_social %}
<a href="#" class="tooltip-info" title="" data-original-title="Visit my Facebook">
  <i class="middle ace-icon fa fa-facebook-square fa-2x blue"></i>
</a>
<a href="#" class="tooltip-info" title="" data-original-title="Visit my Twitter">
  <i class="middle ace-icon fa fa-twitter-square fa-2x light-blue"></i>
</a>
<a href="#" class="tooltip-error" title="" data-original-title="Visit my Pinterest">
  <i class="middle ace-icon fa fa-pinterest-square fa-2x red"></i>
</a>
{% endblock %}

{% block profile_badges %}
<span class="btn btn-app btn-sm btn-light no-hover">
  <span class="line-height-1 bigger-170 blue"> 1,411 </span>
  <br />
  <span class="line-height-1 smaller-90"> Views </span>
</span>
<span class="btn btn-app btn-sm btn-yellow no-hover">
  <span class="line-height-1 bigger-170"> 32 </span>
  <br />
  <span class="line-height-1 smaller-90"> Followers </span>
</span>
<span class="btn btn-app btn-sm btn-pink no-hover">
  <span class="line-height-1 bigger-170"> 4 </span>
  <br />
  <span class="line-height-1 smaller-90"> Projects </span>
</span>
<span class="btn btn-app btn-sm btn-grey no-hover">
  <span class="line-height-1 bigger-170"> 23 </span>
  <br />
  <span class="line-height-1 smaller-90"> Reviews </span>
</span>
<span class="btn btn-app btn-sm btn-success no-hover">
  <span class="line-height-1 bigger-170"> 7 </span>
  <br />
  <span class="line-height-1 smaller-90"> Albums </span>
</span>
<span class="btn btn-app btn-sm btn-primary no-hover">
  <span class="line-height-1 bigger-170"> 55 </span>
  <br />
  <span class="line-height-1 smaller-90"> Contacts </span>
</span>
{% endblock %}

{% block profile_backlog_header %}
<i class="ace-icon fa fa-rss orange"></i>
Recent Activities
{% endblock %}

{% block profile_backlog_body %}
<div class="profile-activity clearfix">
  <div>
    <img class="pull-left" alt="Alex Doe's avatar" src="dist/avatars/avatar5.png" />
    <a class="user" href="#"> Alex Doe </a>
    changed his profile photo.
    <a href="#">Take a look</a>

    <div class="time">
      <i class="ace-icon fa fa-clock-o bigger-110"></i>
      an hour ago
    </div>
  </div>
  <div class="tools action-buttons">
    <a href="#" class="blue">
      <i class="ace-icon fa fa-pencil bigger-125"></i>
    </a>

    <a href="#" class="red">
      <i class="ace-icon fa fa-times bigger-125"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block profile_backlog_footer %}
<button type="button" class="btn btn-sm btn-primary btn-white btn-round">
  <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
  <span class="bigger-110">View more activities</span>
  <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
</button>
{% endblock %}
