{% extends 'layouts/timeline.html' %}

{% load staticfiles %}
{% load myopla %}

{% block timeline_entry %}
<div class="timeline-item clearfix">
  <div class="timeline-info">
    <span class="timeline-date">{{ entry.authored_date|timestamp }}</span>
    <i class="timeline-indicator btn btn-info no-hover"></i>
  </div>
  <div class="widget-box transparent">
    <div class="widget-body">
      <div class="widget-main no-padding">
        <span class="bigger-110">
          <a href="#" class="purple bolder">{{ entry.author }}</a>
          commited :
        </span>
        <a href="{% url 'projects_commit' narrow=project.name hexsha=entry.hexsha %}">{{ entry.message }}</a>
        <i class="ace-icon fa fa-search-plus blue bigger-110"></i>
      </div>
    </div>
  </div>
</div>
{% endblock %}
